a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white !important;
}

.headercolor {
    background-color: #ff4081 !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    background-color: #ff4081 !important;
}
.nav-link {
    color: white !important;
}
.color{
    color:white !important;
}
.navbar-nav .dropdown-menu {
    background-color: #ff4081 !important;
    border: none !important;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
